### BEGIN .htaccess

# Protect the htaccess file
<Files .htaccess>
    Order Allow,Deny
    Deny from all
</Files>

# Disable directory browsing
Options All -Indexes

# Serve IE's latest version
<IfModule mod_setenvif.c>
    <IfModule mod_headers.c>
        BrowserMatch MSIE ie
        Header set X-UA-Compatible "IE=Edge,chrome=1" env=ie
    </IfModule>
</IfModule>

# BEGIN COMPRESSION AND CACHING
<IfModule mod_deflate.c>
    # Enable compression
    AddOutputFilterByType DEFLATE text/css text/javascript application/x-javascript text/html text/plain text/xml image/x-icon
    <IfModule mod_setenvif.c>
        BrowserMatch ^Mozilla/4 gzip-only-text/html
        BrowserMatch ^Mozilla/4\.0[678] no-gzip
        BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
        BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html
    </IfModule>
    <IfModule mod_headers.c>
        # Make sure proxies deliver correct content
        Header append Vary User-Agent env=!dont-vary
        # Ensure proxies deliver compressed content correctly
        Header append Vary Accept-Encoding
    </IfModule>
</IfModule>
<IfModule mod_headers.c>
    # No ETags, No Pragma
    Header unset Pragma
    Header unset ETag
    # Default cache time to 1 year (31536000 sec)
    Header set Cache-Control "max-age=31536000, public, must-revalidate"
</IfModule>

# No ETags
FileETag none

# CACHE SETTINGS (mod_expires)
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 7200 seconds"
    ExpiresByType image/jpg             "access plus 1 week"
    ExpiresByType image/jpeg            "access plus 1 week"
    ExpiresByType image/png             "access plus 1 week"
    ExpiresByType image/gif             "access plus 1 week"
    AddType image/x-icon .ico
    ExpiresByType image/ico             "access plus 1 week"
    ExpiresByType image/icon            "access plus 1 week"
    ExpiresByType image/x-icon          "access plus 1 week"
    ExpiresByType text/css              "access plus 1 week"
    ExpiresByType text/javascript       "access plus 1 week"
    ExpiresByType text/html             "access plus 3600 seconds"
    ExpiresByType application/xhtml+xml     "access plus 3600 seconds"
    ExpiresByType application/javascript    "access plus 1 week"
    ExpiresByType application/x-javascript  "access plus 1 week"
    ExpiresByType application/x-shockwave-flash "access plus 1 week"
</IfModule>

<IfModule mod_headers.c>
<FilesMatch "\\.(ico|jpe?g|png|gif|swf)$">
Header set Cache-Control "max-age=2592000, public"
</FilesMatch>
<FilesMatch "\\.(css)$">
Header set Cache-Control "max-age=604800, public"
</FilesMatch>
<FilesMatch "\\.(js)$">
Header set Cache-Control "max-age=216000, private"
</FilesMatch>
<FilesMatch "\\.(x?html?|php)$">
Header set Cache-Control "max-age=600, private, must-revalidate"
</FilesMatch>
</IfModule>
# END CACHING

# Redirect www

RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# 301 redirects

Redirect 301 /ihateuflat /projets/ihateuflat
Redirect 301 /fox-boilerplate /projets/fox-boilerplate
Redirect 301 /fox-bp /projets/fox-boilerplate
Redirect 301 /foxbp /projets/fox-boilerplate
Redirect 301 /mv /projets/moovies

Redirect 301 /ouverture-du-blog/ /articles/ouverture-du-blog/
Redirect 301 /styler-les-formulaires-sur-iphone/ /articles/styler-les-formulaires-sur-iphone/
Redirect 301 /creer-un-menu-avec-dropdown-en-css3/ /articles/creer-un-menu-avec-dropdown-en-css3/
Redirect 301 /mise-en-page-et-positionnement/ /articles/mise-en-page-et-positionnement/
Redirect 301 /a-propos-du-responsive-design/ /articles/a-propos-du-responsive-design/
Redirect 301 /webdesign-liste-de-ressources-utiles/ /articles/webdesign-liste-de-ressources-utiles/
Redirect 301 /les-atouts-de-box-sizing-border-box/ /articles/les-atouts-de-box-sizing-border-box/
Redirect 301 /fox-css-un-framework-css-light/ /articles/fox-css-un-framework-css-light/
Redirect 301 /un-template-complexe-pour-le-responsive-design/ /articles/un-template-complexe-pour-le-responsive-design/
Redirect 301 /le-jour-ou-jai-teste-sass/ /articles/le-jour-ou-jai-teste-sass/
Redirect 301 /le-scrolling-ce-mal-absolu/ /articles/le-scrolling-ce-mal-absolu/
Redirect 301 /les-animations-en-css/ /articles/les-animations-en-css/
Redirect 301 /refonte-graphique-du-site-et-friday-links/ /articles/refonte-graphique-du-site-et-friday-links/
Redirect 301 /friday-links-1/ /articles/friday-links-1/
Redirect 301 /les-animations-en-css-un-cas-pratique/ /articles/les-animations-en-css-un-cas-pratique/
Redirect 301 /friday-links-2/ /articles/friday-links-2/
Redirect 301 /return-false-vs-e-preventdefault/ /articles/return-false-vs-e-preventdefault/
Redirect 301 /friday-links-3/ /articles/friday-links-3/
Redirect 301 /un-mixin-sass-simple-pour-les-media-queries/ /articles/un-mixin-sass-simple-pour-les-media-queries/
Redirect 301 /text-align-justify-pour-une-nouvelle-technique-de-grilles/ /articles/text-align-justify-pour-une-nouvelle-technique-de-grilles/
Redirect 301 /fox-css-est-passe-sous-sass/ /articles/fox-css-est-passe-sous-sass/
Redirect 301 /friday-links-4/ /articles/friday-links-4/
Redirect 301 /font-size-quelles-solutions/ /articles/font-size-quelles-solutions/
Redirect 301 /plugins-utiles-pour-sublime-text-2/ /articles/plugins-utiles-pour-sublime-text-2/
Redirect 301 /i-hate-u-flat/ /articles/i-hate-u-flat/
Redirect 301 /android-ergonomie/ /articles/android-ergonomie/
Redirect 301 /friday-links-5/ /articles/friday-links-5/
Redirect 301 /css-notation-bem/ /articles/css-notation-bem/
Redirect 301 /automatiser-workflow-grunt/ /articles/automatiser-workflow-grunt/

# 404

ErrorDocument 404 /404.html

### END .htaccess
