.Cta {
  padding: 0.7em 2em;
  display: inline-block;
  position: relative;
  @include fluid-type(font-size, 320, 1920, 10, 16);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;
  color: darken($dark-blue, 5%);

  &:hover,
  &:focus {
    &:after {
      opacity: 1;
    }
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: 100% 100%;
    transform: translateZ(0);
  }

  &:before {
    background-image: url(/assets/img/backgrounds/brush-cta.svg);
  }

  &:after {
    opacity: 0;
    transition: opacity 0.2s ease-out;
    background-image: url(/assets/img/backgrounds/brush-cta-hover.svg);
  }

  &.-intro {
    position: relative;
    z-index: 1;
  }
}
