.Intro {
  @include fluid-type(padding, 320, 1960, 15, 80);
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  background-color: $dark-blue;
  @include fluid-type(border-width, 320, 1960, 10, 25);
  border-style: solid;
  border-color: lighten($dark-blue, 10%);
}


.Intro-text {
  position: relative;
  margin: auto;
  text-align: center;
}

.Intro-title {
  margin: 0;
  position: relative;
  z-index: 1;
  @include dosis;
  @include fluid-type(font-size, 320, 1920, 23, 46);
  text-transform: uppercase;
}

.Intro-subtitle {
  margin: 0;
  position: relative;
  z-index: 1;
  @include dosis;
  @include fluid-type(font-size, 320, 1920, 14, 28);
  @include fluid-type(margin-bottom, 320, 1920, 15, 40);
  font-weight: normal;
  letter-spacing: .11em;
  text-transform: uppercase;
  color: $light-blue;
}

.Intro-sphereWrapper {
  position: absolute;
  top: 50%;
  left: -150%;
  right: -150%;
  transform: translateY(-50%);
  opacity: .1;

  &:before {
    content: '';
    float: left;
    padding-bottom: 57.7%;
  }
}

.Intro-sphere {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
