.MainHeader {
  text-align: center;
  line-height: normal;

  @include bp(500) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.MainHeader-logo {
  margin: 1rem 0;
  display: inline-block;
  vertical-align: middle;

  @include bp(500) {
    margin: 0;
    display: inline;
  }
}
