@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  @each $property in $properties {
    #{$property}: $min-value * 0.1rem;
  }

  @media screen and (min-width: $min-vw / 16 + em) {
    @each $property in $properties {
      #{$property}: calc(
        #{$min-value * 0.1rem} + #{strip-unit($max-value - $min-value)} *
          (
            100vw - #{$min-vw}px
          ) / #{strip-unit($max-vw - $min-vw)}
      );
    }
  }

  @media screen and (min-width: $max-vw / 16 + em) {
    @each $property in $properties {
      #{$property}: $max-value * 0.1rem;
    }
  }
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin bp($point) {
  @media screen and (min-width: $point / 16 + em) {
    @content;
  }
}

@mixin dosis {
  font-family: Arial, Helvetica, Sans-serif;

  .fonts-loaded & {
    font-family: 'Dosis', Arial, Helvetica, Sans-serif;
  }
}

@mixin roboto {
  font-family: Arial, Helvetica, Sans-serif;

  .fonts-loaded & {
    font-family: 'Roboto', Arial, Helvetica, Sans-serif;
  }
}

@mixin robotom {
  font-family: Monospace;

  .fonts-loaded & {
    font-family: 'Roboto Mono', Monospace;
  }
}

@mixin fontvariants {
  font-kerning: normal;
  font-variant-ligatures: common-ligatures, contextual;
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
}

@mixin antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
