<!doctype html>
<html ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
	<script src="https://cdn.firebase.com/v0/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js"></script>
</head>
<body ng-controller="MyCtrl">

<form ng-submit="items.add(item)">
  <input type="text" ng-model="item.titre" placeholder="Name" required/>
  <input type="text" ng-model="item.url" placeholder="url"/>
  		<select ng-model="item.categorie">
			<option value="Action">Action</option>
			<option value="Aventure">Aventure</option>
			<option value="Comédie">Comédie</option>
			<option value="Comédie romantique">Comédie romantique</option>
			<option value="Dessin animé">Dessin animé</option>
			<option value="Documentaire">Documentaire</option>
			<option value="Drame">Drame</option>
			<option value="Fantastique">Fantastique</option>
			<option value="Horreur">Horreur</option>
			<option value="Historique">Historique</option>
			<option value="Romance">Romance</option>
			<option value="Thriller">Thriller</option>
			<option value="Western">Western</option>
		</select>
  <input type="submit">
</form>
	<ul>
		<li ng-repeat="item in items">{{item.titre}} // {{item.url}} // {{item.categorie}}
	<form ng-submit="items.update(item)">
  <input type="text" ng-model="item.titre" placeholder="Name" required/>
  <input type="text" ng-model="item.url" placeholder="Description"/>
  <input type="submit">
</form>
<hr>
	<form ng-submit="items.remove(item)">
  <input type="submit" value="suppr">
</form>
			
			
	</li>
	</ul>

	<script>
		var app = angular.module("myApp", ["firebase"]);
app.controller('MyCtrl', ['$scope', 'angularFireCollection',
  function MyCtrl($scope, angularFireCollection) {
    $scope.items = angularFireCollection(new Firebase("https://moovies2.firebaseio.com/"));
    $scope.addMess = function() {
    	console.log('ok');
    }
  }
]);
	</script>
</body>
</html>