@media screen and (min-width: 35em) {

.intro h1, .intro-c h1 {
	padding: 1em .4em;
}

.hp-date {
	margin-top: .5em;
	padding: .5em 0 0 0;
	display: inline-block;
	float: right;
	width: 30%;
	text-align: right;
}

.hp-h2 {
	padding: 0 0 .5em -0px;
	display: inline-block;
	vertical-align: top;
	padding: 1em 0;
	width: 70%;
}

.contactform label {
	padding-top: 1.1em;
	display: inline-block;
	width: 20%;
}

.champ {
	margin-top: 1.5em;
	display: inline-block;
	width: 80%;
	vertical-align: top;
}

.contactform .button {
	margin-left: 20%;
}

.error-form {
	margin-left: 20%;
}

}

@media screen and (min-width: 60em) {

html {
	font-size: 80%;
}

.nav-icon {
	font-size: 25px;
}

header {
	margin-top: 5em;
	padding: 23em 0 0 0;
	background: #e9e9e9 url(img/frise.png) 50% 100% repeat-x;
	background-size: 1700px 129px;
	border-bottom: 20px solid #d0d0d0;
}

.logo-link {
	margin-left: -85px;
	width: 170px;
	height: 170px;
	top: -35px;
	z-index: 2;
}

.logo-link:hover {
	-webkit-transform: translate(0, 10px);
	-moz-transform: translate(0, 10px);
	-o-transform: translate(0, 10px);
	transform: translate(0, 10px);
}

nav ul {
	padding: .75em 0;
	font-size: 1.8rem;
}

nav li {
	margin: 0 1.5em;
}

nav li:before {
	left: -1.5em;
}

.montgolfiere {
	margin-left: 250px;
	display: block;
	position: absolute;
	top: 20px;
	left: 50%;
	width: 69px;
	height: 117px;
	background: transparent url(img/montgolfiere.png) 0 0 no-repeat;
	z-index: 2;
	-webkit-animation: montgolfiere 4s ease-in-out infinite;
	animation: montgolfiere 4s ease-in-out infinite;
}

.nuage1 {
	display: block;
	position: absolute;
	top: 20px;
	left: 15%;
	width: 108px;
	height: 42px;
	background: transparent url(img/nuage1.png) 0 0 no-repeat;
	z-index: 3;
}

.nuage2 {
	display: block;
	position: absolute;
	top: 20px;
	left: 10%;
	width: 62px;
	height: 22px;
	background: transparent url(img/nuage2.png) 0 0 no-repeat;
	z-index: 1;
}

.nuage3 {
	display: block;
	position: absolute;
	top: 30px;
	right: 7%;
	width: 147px;
	height: 54px;
	background: transparent url(img/nuage3.png) 0 0 no-repeat;
	z-index: 1;
}

.nuage4 {
	display: block;
	position: absolute;
	top: 115px;
	right: 7%;
	width: 60px;
	height: 22px;
	background: transparent url(img/nuage4.png) 0 0 no-repeat;
	z-index: 3;
}

.fumee {
	margin-left: -207px;
	display: block;
	position: absolute;
	top: 192px;
	left: 50%;
	width: 15px;
	height: 20px;
	background: transparent url(img/fumee.png) 0 0 no-repeat;
	z-index: 3;
	-webkit-animation: fumee 3s linear infinite;
	animation: fumee 3s linear infinite;
}

.flag {
	margin-left: 190px;
	display: block;
	position: absolute;
	top: 185px;
	left: 50%;
	width: 8px;
	height: 7px;
	background: transparent url(img/flag.png) 0 0 no-repeat;
	z-index: 3;
	-webkit-animation: flag 1.2s ease-in-out infinite;
	animation: flag 1.2s ease-in-out infinite;
}

.intro-p {
	padding: 3em 0;
}

.wrapper {
	padding: 0;
}

.intro {
	margin: 0 auto 4em auto;
	padding: 0;
}

.intro h1, .intro-c h1 {
	padding: 1.2em 0;
	font-size: 40px;
	font-size: 4rem;
}

.intro p {
	padding: 1.8em 0;
	letter-spacing: 1px;
	word-spacing: 4px;
	text-transform: uppercase;
}

.intro p:after {
	margin-left: -25px;
	width: 50px;
	bottom: -15px;
	font-size: 30px;
}

.ie9 .intro p:after, .ie10 .intro p:after {
	bottom: -18px;
}

.page-h1:after {
	margin-left: -25px;
	width: 50px;
	bottom: -15px;
	font-size: 30px;
}

.ie9 .page-h1:after, .ie10 .page-h1:after {
	bottom: -18px;
}

.hp-date {
	margin-top: 1em;
}

.hp-h2 {
	padding: 1.4em 0;
}

article {
	margin-top: 0;
	text-align: justify;
}

article h2 {
	font-size: 24px;
	font-size: 2.4rem;
}

.credits, .contactme, blockquote {
	padding-top: 2.5em;
}

pre {
	padding-top: 2.7em;
}

.liens a:before, .demo a:before {
	top: -1px;
}

.nav-article {
	margin: 2.2em auto 2.5em auto;
}

.article-footer {
	padding: 1.8em 0;
}

footer {
	height: 180px;
	background: transparent url(img/fond.png) 50% 50% no-repeat;
	background-size: 90px 90px;
}

form {
	margin-top: 2em;
}

.error-p {
	margin-bottom: 2.6em;
}

.sidr {
    width: 340px;
    left: -340px !important;
}

@-moz-document url-prefix() {

.page-h1:after {
	bottom: -18px;
}

}

}