<!DOCTYPE html>
<!--[if lte IE 7]> <html class="ie7 no-js" lang="fr"> <![endif]-->
<!--[if IE 8]> <html class="ie8 no-js" lang="fr"> <![endif]-->
<!--[if IE 9]> <html class="ie9 no-js" lang="fr"> <![endif]-->
<html lang="fr" class="no-js" ng-app="moovieApp">
<head>
	<meta charset="UTF-8">
	<title>Moovies :)</title>
	<!-- Remove this if Modernizr is used -->
	<script>document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, '$1js$2');</script>
	<meta name="description" content="Recherche de films à voir">
	<meta name="author" content="Ronan Levesque">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="img/favicons/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="img/favicons/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="img/favicons/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="img/favicons/favicon-160x160.png" sizes="160x160" />
	<meta name="msapplication-TileColor" content="#da532c" />
	<meta name="msapplication-TileImage" content="img/favicons/mstile-144x144.png" />
	<meta name="msapplication-square70x70logo" content="img/favicons/mstile-70x70.png" />
	<meta name="msapplication-square150x150logo" content="img/favicons/mstile-150x150.png" />
	<meta name="msapplication-wide310x150logo" content="img/favicons/mstile-310x150.png" />
	<meta name="msapplication-square310x310logo" content="img/favicons/mstile-310x310.png" />
	<link rel="stylesheet" href="css/fox.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
	<script src="https://cdn.firebase.com/v0/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js"></script>
	<script src="https://cdn.firebase.com/v0/firebase-simple-login.js"></script>
	<script src="https://code.jquery.com/jquery.min.js"></script>
	<script src="js/controllers.js"></script>
</head>
<body ng-controller="MyController">
	<a class="back" id="back" href="" ng-click="closePopup()"></a></div>
	<div class="back" id="back2"></div><div class="back" id="back3"></div>
	<form class="popup" id="popup" name="ajoutfilm" ng-submit="addItem()">
		<a href="" class="close" ng-click="closePopup()">&times;</a>
		<input type="text" ng-model="titre" name="titre" placeholder="Titre du film">
		<input type="text" ng-model="url" name="url" placeholder="URL">
		<select name="selectcat" ng-model="selectcat">
			<option value="">-- Choisir une catégorie --</option>
			<option value="Action">Action</option>
			<option value="Aventure">Aventure</option>
			<option value="Comédie">Comédie</option>
			<option value="Comédie romantique">Comédie romantique</option>
			<option value="Dessin animé">Dessin animé</option>
			<option value="Documentaire">Documentaire</option>
			<option value="Drame">Drame</option>
			<option value="Fantastique">Fantastique</option>
			<option value="Horreur">Horreur</option>
			<option value="Historique">Historique</option>
			<option value="Romance">Romance</option>
			<option value="Thriller">Thriller</option>
			<option value="Western">Western</option>
		</select>
		<p id="erreur" class="erreur">Il faut au moins remplir le titre et la catégorie !</p>
		<input type="submit" id="valid" value="Ajouter">
	</form>
	<form class="popup popup--login" id="popup--login" name="login">
		<input type="text" id="email" name="email" placeholder="Email">
		<input type="password" id="password" name="password" placeholder="Mot de passe">
		<p id="erreur2" class="erreur">Mauvais email ou mot de passe.</p>
		<input type="submit" id="loginbutton" name="loginbutton" ng-click="logMeIn($event)" value="Connexion">
	</form>
	<div class="success" id="success">
		<p class="pgreen">Le film a été correctement ajouté.</p>
	</div>
	<div class="success" id="success2">
		<p class="pgreen">Les modifications ont été faites.</p>
	</div>
	<div class="success" id="auth">
		<p>En cours d'authentification...</p>
	</div>
	<div class="success" id="deauth">
		<p>En cours de déconnexion...</p>
	</div>
	<div class="success" id="failauth">
		<p class="pred">Mauvais identifiants !</p>
	</div>
	<header role="banner">
		<div clicker class="header__options">
			<span login ng-if="loginOn"></span>
			<span logout ng-if="loginOff"></span>
		</div>
		<h1>Moovies</h1>
	</header>
	<div class="search">
		<div class="search__inner">
			<input type="text" ng-model="query" placeholder="Recherche par titre" id="rechfilm">
			<select ng-model="orderProp">
				<option value="">-- Tri alphabétique --</option>
				<option value="titre">de A à Z</option>
				<option value="-titre">de Z à A</option>
			</select>
			<select ng-model="categoryFilter" ng-options="item.categorie as item.categorie for item in items | unique:'categorie' | orderBy:'categorie'">
				<option value="">-- Tri par catégorie --</option>
			</select>
		</div>
	</div>
	<ul>
	 	<li ng-repeat="item in items | filter:query | filter:categoryFilter | orderBy:orderProp">
	 		<div class="close-2" ng-if="adminOn">
	 			<a href="" ng-click="editFilm($event)">e</a>
	 			<a href="" ng-click="removeFilm($event)">x</a>
	 		</div>
	 		<h2>{{item.titre}}</h2>
			<p>Catégorie : {{item.categorie}}</p>
			<a href="{{item.url}}" class="voir-lien" target="_blank" ng-show="item.url">Voir la fiche &gt;</a><span ng-show="!item.url">Pas de lien</span>
 			<div class="suppr-film" ng-if="adminOn">
				<p>Supprimer "{{item.titre}}" ?</p>
				<form ng-submit="items.remove(item)">
					<input class="suppr-film__oui" type="submit" value="Oui" ng-click="closePopup()"><input class="suppr-film__non" type="button" value="Non" ng-click="closePopup()">
				</form>
			</div>
			<form class="edit-film popup" ng-submit="items.update(item)" ng-if="adminOn">
				<a href="" class="close" ng-click="closePopup()">&times;</a>
				<input type="text" placeholder="Titre"  ng-model="item.titre">
				<input type="text" placeholder="URL" ng-model="item.url">
				<select ng-model="item.categorie">
					<option value="Action">Action</option>
					<option value="Aventure">Aventure</option>
					<option value="Comédie">Comédie</option>
					<option value="Comédie romantique">Comédie romantique</option>
					<option value="Dessin animé">Dessin animé</option>
					<option value="Documentaire">Documentaire</option>
					<option value="Drame">Drame</option>
					<option value="Fantastique">Fantastique</option>
					<option value="Horreur">Horreur</option>
					<option value="Historique">Historique</option>
					<option value="Romance">Romance</option>
					<option value="Thriller">Thriller</option>
					<option value="Western">Western</option>
				</select>
				<input type="submit" ng-click="editClose()" value="Confirmer">
			</form>
		</li>
		<div class="spinner" ng-hide="items.length"></div>
<!-- 		<p class="chargement" id="chargement--2" ng-show="(items | filter:query).length == 0">Aucun résultat...</p> -->
	</ul>
	<p class="ie-warning">Cette application a été créée dans un but personnel. J'ai choisi de ne pas assurer le support de IE 9 et moins. Pour utiliser l'app, passez sur un navigateur plus récent.</p>
</body>

</html>
