/*
FOX CSS 2.0
by Ronan Levesque - CC BY 3.0 license

Credits:
- Normalize by Nicolas Gallagher http://bit.ly/PbZ7Pf
- KNACSS by Raphael Goetter/Alsacreations http://knacss.com/
*/
/*-------------------------*/
/* +RESET AND NORMALIZE    */
/*-------------------------*/
html,
body {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Arial, Helvetica, Sans-serif;
  color: #000;
  background: #fff;
}

html,
body,
blockquote,
form {
  margin: 0;
  padding: 0;
}

blockquote,
code,
embed,
iframe,
img,
input,
object,
pre,
table,
td,
textarea,
video {
  max-width: 100%;
  height: auto;
}

a img,
form,
fieldset {
  border: none;
}

input,
button,
select {
  vertical-align: middle;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

abbr {
  cursor: help;
  border-bottom: 1px dotted #bbb;
}

figure {
  margin: 1em 40px;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

blockquote p,
button,
input,
li h1,
li h2,
li h3,
li h4,
li h5,
li h6,
li li,
li p,
select,
td p,
th p {
  font-size: 100%;
}

small {
  font-size: 80%;
}

b,
strong {
  font-weight: bold;
}

code,
kbd,
pre,
samp {
  font-family: Monospace, Serif;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/*-------------------------*/
/* +FORMATTING             */
/*-------------------------*/
h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.4em;
}

h6 {
  font-size: 1.2em;
}

blockquote,
caption,
li,
p,
pre,
td,
textarea,
th {
  font-size: 1em;
  line-height: 1.5;
}

ul,
ol {
  padding-left: 2em;
}

ul {
  list-style-type: square;
}

code,
div,
p,
pre,
table,
td,
textarea,
th,
samp {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

code,
pre,
samp {
  white-space: pre-wrap;
}

table {
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  padding: 0.5em 0;
}

td {
  padding: 0.5em 0;
  border-top: 1px solid #ccc;
}

.ellip {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.red-txt {
  color: #be1818;
}

.orange-txt {
  color: #d35400;
}

.green-txt {
  color: #27ae60;
}

.blue-txt {
  color: #3498db;
}

.black {
  background: #000;
}

.dark {
  background: #333;
}
.dark:hover,
.dark:focus {
  background: #262626;
}

.red {
  background: #be1818;
}
.red:hover,
.red:focus {
  background: #a71515;
}

.orange {
  background: #d35400;
}
.orange:hover,
.orange:focus {
  background: #b94a00;
}

.yellow {
  background: #ddb705;
}
.yellow:hover,
.yellow:focus {
  background: #c4a204;
}

.green {
  background: #27ae60;
}
.green:hover,
.green:focus {
  background: #229955;
}

.blue {
  background: #3498db;
}
.blue:hover,
.blue:focus {
  background: #258cd1;
}

/*-------------------------*/
/* +LAYOUTS                */
/*-------------------------*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(scripts/boxsizing.htc);
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin: auto;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-center {
  text-align: center;
}

.inline {
  display: inline;
}

.inlineb {
  display: inline-block;
}

.clear {
  clear: both;
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

.hidden {
  position: absolute;
  left: -9999px;
  text-indent: -9999px;
  overflow: hidden;
}

.no-display {
  display: none;
}

.p10 {
  width: 10%;
}

.p20 {
  width: 20%;
}

.p25 {
  width: 25%;
}

.p30 {
  width: 30%;
}

.p33 {
  width: 33.333333%;
}

.p40 {
  width: 40%;
}

.p50 {
  width: 50%;
}

.p60 {
  width: 60%;
}

.p66 {
  width: 66.666666%;
}

.p70 {
  width: 70%;
}

.p75 {
  width: 75%;
}

.p80 {
  width: 80%;
}

.p90 {
  width: 90%;
}

.p100 {
  width: 100%;
}

.px100 {
  width: 100px;
}

.px200 {
  width: 200px;
}

.px300 {
  width: 300px;
}

.px400 {
  width: 400px;
}

.px500 {
  width: 500px;
}

.px600 {
  width: 600px;
}

.px700 {
  width: 700px;
}

.px800 {
  width: 800px;
}

.px900 {
  width: 900px;
}

.px960 {
  width: 960px;
}

.grid {
  text-align: justify;
  font-size: 0.1px;
}

@media (min-resolution: 0.001dpcm) {
  _:-o-prefocus,
  .grid {
    font-size: inherit;
    line-height: 0;
  }
}
.grid > li,
.grid > div {
  display: inline-block;
  vertical-align: top;
}

.grid .placeholder {
  margin-bottom: 0;
}

.grid:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.grid .break {
  width: 100%;
  height: 0;
}

/*-------------------------*/
/* +RESPONSIVE LAYOUTS     */
/*-------------------------*/
@media screen and (min-width: 40em) {
  .r10 {
    width: 10%;
  }

  .r20 {
    width: 20%;
  }

  .r25 {
    width: 25%;
  }

  .r30 {
    width: 30%;
  }

  .r33 {
    width: 33.333333%;
  }

  .r40 {
    width: 40%;
  }

  .r50 {
    width: 50%;
  }

  .r60 {
    width: 60%;
  }

  .r66 {
    width: 66.666666%;
  }

  .r70 {
    width: 70%;
  }

  .r75 {
    width: 75%;
  }

  .r80 {
    width: 80%;
  }

  .r50-25 {
    width: 50%;
  }

  .r50-33 {
    width: 50%;
  }

  .r33-33 {
    width: 33.333333%;
  }

  .r66-33 {
    width: 66.666666%;
  }

  .r10,
  .r20,
  .r25,
  .r30,
  .r33,
  .r40,
  .r50,
  .r60,
  .r66,
  .r70,
  .r80,
  .r50-25,
  .r50-33,
  .r33-33,
  .r66-33 {
    display: inline-block;
  }
}
@media screen and (min-width: 60em) {
  .r50-25 {
    width: 25%;
  }

  .r50-33 {
    width: 33.333333%;
  }

  .r33-33 {
    width: 33.333333%;
  }

  .r66-33 {
    width: 33.333333%;
  }

  .r100-33 {
    width: 33.333333%;
    display: inline-block;
    vertical-align: top;
  }
}
/*-------------------------*/
/* +IE SUPPORT             */
/*-------------------------*/
.ie7 .inlineb,
.ie7 .grid li,
.ie7 .grid div {
  display: inline;
  zoom: 1;
}

.ie7 .r10,
.ie7 .r20,
.ie7 .r25,
.ie7 .r30,
.ie7 .r33,
.ie7 .r40,
.ie7 .r50,
.ie7 .r60,
.ie7 .r66,
.ie7 .r70,
.ie7 .r80,
.ie7 .r50-25,
.ie7 .r50-33,
.ie7 .r33-33,
.ie7 .r66-33,
.ie7 .r100-33 {
  display: inline;
  zoom: 1;
}

.ie8 .r10,
.ie8 .r20,
.ie8 .r25,
.ie8 .r30,
.ie8 .r33,
.ie8 .r40,
.ie8 .r50,
.ie8 .r60,
.ie8 .r66,
.ie8 .r70,
.ie8 .r80,
.ie8 .r50-25,
.ie8 .r50-33,
.ie8 .r33-33,
.ie8 .r66-33,
.ie8 .r100-33 {
  display: inline-block;
}

.ie7 .r10,
.ie8 .r10 {
  width: 10%;
}

.ie7 .r20,
.ie8 .r20 {
  width: 20%;
}

.ie7 .r25,
.ie8 .r25 {
  width: 25%;
}

.ie7 .r30,
.ie8 .r30 {
  width: 30%;
}

.ie7 .r33,
.ie8 .r33 {
  width: 33.333333%;
}

.ie7 .r40,
.ie8 .r40 {
  width: 40%;
}

.ie7 .r50,
.ie8 .r50 {
  width: 50%;
}

.ie7 .r60,
.ie8 .r60 {
  width: 60%;
}

.ie7 .r66,
.ie8 .r66 {
  width: 66.666666%;
}

.ie7 .r70,
.ie8 .r70 {
  width: 70%;
}

.ie7 .r75,
.ie8 .r75 {
  width: 75%;
}

.ie7 .r80,
.ie8 .r80 {
  width: 80%;
}

.ie7 .r50-25,
.ie8 .r50-25 {
  width: 25%;
}

.ie7 .r50-33,
.ie8 .r50-33 {
  width: 33.333333%;
}

.ie7 .r33-33,
.ie8 .r33-33 {
  width: 33.333333%;
}

.ie7 .r66-33,
.ie8 .r66-33 {
  width: 33.333333%;
}

.ie7 .r100-33,
.ie8 .r100-33 {
  width: 33.333333%;
}

.ie8 img {
  width: auto;
}

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', Arial, Sans-serif;
  color: #4bbcd2;
  border: 1em solid #9ddae6;
  min-height: 100%;
}
@media screen and (min-width: 75em) {
  body {
    border: 1.5em solid #9ddae6;
  }
}

.main-title {
  margin: 0;
  padding: 32px 0;
  padding: 2rem 0;
  font-family: 'Pompiere', Arial, Sans-serif;
  font-size: 50px;
  font-size: 3.125rem;
  font-weight: normal;
  text-align: center;
  letter-spacing: 2px;
  color: #88d3e1;
  text-shadow: 1px 1px 0 #2fa4bb;
}
@media screen and (min-width: 75em) {
  .main-title {
    padding: 64px 0;
    padding: 4rem 0;
    font-size: 60px;
    font-size: 3.75rem;
  }
}
.main-title:after {
  margin: 16px auto 0;
  margin: 1rem auto 0;
  content: '\25C6';
  font-size: 30px;
  font-size: 1.875rem;
  display: block;
  font-family: Arial, Sans-serif;
}
@media screen and (min-width: 75em) {
  .main-title:after {
    margin: 32px auto 0;
    margin: 2rem auto 0;
  }
}

.wrapper {
  margin: auto;
  padding: 0 1em;
  max-width: 800px;
}

.main-nav__ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center;
}
.main-nav__ul li {
  margin-top: 1em;
}
@media screen and (min-width: 37.5em) {
  .main-nav__ul li {
    margin: 0 0.5em;
    display: inline-block;
  }
}
@media screen and (min-width: 75em) {
  .main-nav__ul li {
    font-size: 18px;
    font-size: 1.125rem;
  }
}
.main-nav__ul li:first-child {
  margin-top: 0;
}
.main-nav__ul li a {
  padding: 0.7em;
  display: block;
  text-decoration: none;
  color: #fff;
  background: #74cbdc;
  -webkit-box-shadow: 4px 4px 0 0 #2fa4bb;
  box-shadow: 4px 4px 0 0 #2fa4bb;
}
@media screen and (min-width: 37.5em) {
  .main-nav__ul li a {
    padding: 0.7em 0.9em;
  }
}
.main-nav__ul li a:active,
.main-nav__ul li a:focus {
  position: relative;
  top: 4px;
  left: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.gallery {
  margin: 6% auto 0;
  padding: 0;
}
@media screen and (min-width: 25em) {
  .gallery {
    margin: 5% auto 0;
  }
}
@media screen and (min-width: 37.5em) {
  .gallery {
    margin: 48px auto 2.5%;
    margin: 3rem auto 2.5%;
  }
}
@media screen and (min-width: 75em) {
  .gallery {
    margin: 80px auto 4.5%;
    margin: 5rem auto 4.5%;
  }
}
.gallery li {
  margin-bottom: 6%;
  width: 47%;
  position: relative;
  font-size: 16px;
  font-size: 1rem;
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}
@media screen and (min-width: 25em) {
  .gallery li {
    margin-bottom: 5%;
    width: 30%;
  }
}
@media screen and (min-width: 37.5em) {
  .gallery li {
    margin-bottom: 3%;
    width: 23%;
  }
}
@media screen and (min-width: 50em) {
  .gallery li {
    margin-bottom: 2.5%;
    width: 18%;
  }
}
@media screen and (min-width: 75em) {
  .gallery li:hover {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    z-index: 3;
    -webkit-box-shadow: 0 0 0 3px #37b4cd;
    box-shadow: 0 0 0 3px #37b4cd;
  }
  .gallery li:hover p {
    opacity: 1;
    -webkit-box-shadow: 0 0 0 3px #37b4cd;
    box-shadow: 0 0 0 3px #37b4cd;
  }
  .gallery li:hover strong {
    color: #74cbdc;
    background: #fff;
  }
  .gallery li:hover img {
    opacity: 0;
  }
}
.gallery a {
  text-decoration: none;
}
.gallery img {
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  border-bottom: none;
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}
.gallery p {
  display: none;
}
@media screen and (min-width: 75em) {
  .gallery p {
    margin: 0;
    padding: 1em;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    text-align: left;
    color: #fff;
    background: #74cbdc;
    -webkit-transition: 0.2s all ease-in;
    transition: 0.2s all ease-in;
  }
}
.gallery strong {
  padding: 0.5em;
  display: block;
  text-align: center;
  color: #fff;
  background: #74cbdc;
}
@media screen and (min-width: 75em) {
  .gallery strong {
    position: relative;
    z-index: 1;
    -webkit-transition: 0.2s all ease-in;
    transition: 0.2s all ease-in;
  }
}
.gallery strong:after {
  content: '\2794';
  margin-left: 0.5em;
  font-family: Arial, Sans-serif;
}

.main-footer {
  margin: 0 auto;
  padding: 0 0 6%;
  font-family: 'Pompiere', Arial, Sans-serif;
  text-align: center;
}
@media screen and (min-width: 37.5em) {
  .main-footer {
    padding: 0 0 5%;
  }
}
@media screen and (min-width: 50em) {
  .main-footer {
    padding: 0 0 7%;
  }
}
@media screen and (min-width: 75em) {
  .main-footer {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

.media-big-img {
  text-align: center;
}
.media-big-img img {
  margin: 0 auto;
  display: block;
}

.media-big-img--last {
  margin-bottom: 6%;
}
@media screen and (min-width: 37.5em) {
  .media-big-img--last {
    margin-bottom: 5%;
  }
}
@media screen and (min-width: 50em) {
  .media-big-img--last {
    margin-bottom: 7%;
  }
}

.media-big-img__title {
  margin: 1.5em auto 0.3em;
  font-family: 'Pompiere', Arial, Sans-serif;
  font-size: 30px;
  font-size: 1.875rem;
}
@media screen and (min-width: 75em) {
  .media-big-img__title {
    font-size: 40px;
    font-size: 2.5rem;
  }
}

.ie-warning {
  padding-top: 1em;
  display: none;
  font-family: 'Pompiere', Arial, Sans-serif;
  font-size: 40px;
  font-size: 2.5rem;
  text-align: center;
}

.ie7 .ie-warning,
.ie8 .ie-warning {
  display: block;
}

.ie7 .main-header,
.ie8 .main-header,
.ie7 main,
.ie8 main {
  display: none;
}

/*
 * photoswipe.css
 * Copyright (c) %%year%% by Code Computerlove (http://www.codecomputerlove.com)
 * Licensed under the MIT license
 *
 * Default styles for PhotoSwipe
 * Avoid any position or dimension based styles
 * where possible, unless specified already here.
 * The gallery automatically works out gallery item
 * positions etc.
 */
body.ps-active,
body.ps-building,
div.ps-active,
div.ps-building {
  background: #000;
  overflow: hidden;
}

body.ps-active *,
div.ps-active * {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  display: none;
}

body.ps-active *:focus,
div.ps-active *:focus {
  outline: 0;
}

/* Document overlay */
div.ps-document-overlay {
  background: #000;
}

/* UILayer */
div.ps-uilayer {
  background: #000;
  cursor: pointer;
}

/* Zoom/pan/rotate layer */
div.ps-zoom-pan-rotate {
  background: #000;
}

div.ps-zoom-pan-rotate * {
  display: block;
}

/* Carousel */
div.ps-carousel-item-loading {
  background: url(../img/loader.gif) no-repeat center center;
}

div.ps-carousel-item-error {
  background: url(../img/error.gif) no-repeat center center;
}

/* Caption */
div.ps-caption {
  background: #000000;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #303130),
    color-stop(100%, #000101)
  );
  border-bottom: 1px solid #42403f;
  color: #ffffff;
  font-size: 13px;
  font-family: 'Lucida Grande', Helvetica, Arial, Verdana, sans-serif;
  text-align: center;
}

div.ps-caption * {
  display: inline;
}

div.ps-caption-bottom {
  border-top: 1px solid #42403f;
  border-bottom: none;
  min-height: 44px;
}

div.ps-caption-content {
  padding: 13px;
  display: block;
}

/* Toolbar */
div.ps-toolbar {
  background: #000000;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #303130),
    color-stop(100%, #000101)
  );
  border-top: 1px solid #42403f;
  color: #ffffff;
  font-size: 13px;
  font-family: 'Lucida Grande', Helvetica, Arial, Verdana, sans-serif;
  text-align: center;
  height: 44px;
  display: table;
  table-layout: fixed;
}

div.ps-toolbar * {
  display: block;
}

div.ps-toolbar-top {
  border-bottom: 1px solid #42403f;
  border-top: none;
}

div.ps-toolbar-close,
div.ps-toolbar-previous,
div.ps-toolbar-next,
div.ps-toolbar-play {
  cursor: pointer;
  display: table-cell;
}

div.ps-toolbar div div.ps-toolbar-content {
  width: 44px;
  height: 44px;
  margin: 0 auto 0;
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
}

div.ps-toolbar-close div.ps-toolbar-content {
  background-position: 0 0;
}

div.ps-toolbar-previous div.ps-toolbar-content {
  background-position: -44px 0;
}

div.ps-toolbar-previous-disabled div.ps-toolbar-content {
  background-position: -44px -44px;
}

div.ps-toolbar-next div.ps-toolbar-content {
  background-position: -132px 0;
}

div.ps-toolbar-next-disabled div.ps-toolbar-content {
  background-position: -132px -44px;
}

div.ps-toolbar-play div.ps-toolbar-content {
  background-position: -88px 0;
}

/* Hi-res display */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 240dpi) {
  div.ps-toolbar div div.ps-toolbar-content {
    background-size: 176px 88px;
    background-image: url(../img/icons@2x.png);
  }
}
