.logo {
	margin: 0 auto;
	padding: .5em .4em;
	font-family: "Open Sans", Arial, Sans-serif;
	font-weight: 300;
	@include fs(30);
	text-align: center;
	color: #fff;
	background: $color1;
	border-top: 2px solid $color1;

	&:before {
		content: '';
		margin-right: .3em;
		display: inline-block;
		vertical-align: -9px;
		width: 40px;
		height: 40px;
		background: transparent url(../img/fox-css.png) 0 0 no-repeat;
		background-size: 40px 40px;
	}

	@include bp(1000) {
		@include fs(40);

		&:before {
		vertical-align: -10px;
		width: 50px;
		height: 50px;
		background: transparent url(../img/fox-css.png) 0 0 no-repeat;
		background-size: 50px 50px;
		}
	}
}

.ie8 .logo:before {
	background: transparent url(../img/fox-css-ie8.png) 0 0 no-repeat;
}

.main-header__intro {
	padding: .3em 1em;
	font-family: Arvo, Arial, Sans-serif;
	@include fs(16);
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 2px darken($color2, 20%);
	background: $color1 url(../img/frise.jpg) 50% 0;
	background-size: 300px 200px;
	border-top: 2px solid darken($color1, 5%);
	border-bottom: 2px solid darken($color2, 7%);

	h2 {
		@include fs(45);
		font-weight: normal;
	}

	small {
		display: none;
	}

	@include bp(620) {

		padding: 1.2em .2em;

		small {
			display: block;
			font-family: "Open Sans", Arial, Sans-serif;
			@include fs(23);
			font-weight: 300;
			text-transform: uppercase;
			letter-spacing: 1px;
		}

	}

	@include bp(1000) {

		padding: 4em .5em;

		h2 {
			@include fs(61);
		}

		small {
			@include fs(32);
		}

	}

	@include bp(1200) {

		padding: 3.5em .5em;

		h2 {
			@include fs(79);
		}

		small {
			@include fs(42);
		}


	}
}

.ie8 .main-header__intro {
	background: $color1 url(../img/frise-ie8.jpg) 50% 0;
}

.main-header__dl {
	padding: 1em;
	font-family: Arvo, Arial, Sans-serif;
	text-align: center;
	background: #ddd;
	border-bottom: 2px solid darken(#ddd, 10%);

	@include bp(1000) {
		@include fs(20);
		padding: 1.5em;
	}
}

.dl-github, .dl-zip {
	padding: 1em 0;
	display: block;
	text-align: center;
	color: #fff;
	text-decoration: none;
	background: #27ae60;
	border-radius: 4px;

	&:hover, &:active, &:focus {
		background: darken(#27ae60, 5%);
	}

	@include bp(500) {
		width: 190px;
		display: inline-block;
	}

	@include bp(1000) {
		width: 230px;

		&:before {

		}
	}

	&:before {
		content: '\e000';
		margin-right: .5em;
		display: inline-block;
		vertical-align: -1px;
		font-family: Icomoon;
	}
}
.dl-zip {
	margin-top: 1em;
	background: #333;

	&:hover, &:active, &:focus {
		background: darken(#333, 5%);
	}

	&:before {
		content: '\e001';
	}

	@include bp(500) {
		margin-top: 0;
		margin-left: 1em;
	}

	@include bp(1000) {
		margin-left: 1.5em;
	}
}